amqp
asgiref
async-timeout
billiard
celery
click
click-didyoumean
click-plugins
click-repl
coverage
cron-descriptor
Django
django-celery-beat
django-timezone-field
djangorestframework
djangorestframework-simplejwt
drf-yasg
inflection
kombu
packaging
prompt-toolkit
psycopg2-binary
PyJWT
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
six
sqlparse
typing_extensions
tzdata
uritemplate
wcwidth
pillow
requests
django-cors-headers